header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-family: 'Indie Flower', cursive;
}

.tituloHeader{
    color: chocolate;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

li{
    font-size: 40px;
}
