header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.tituloHeader{
    width: 30%;
}

li{
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}